@charset "UTF-8";
.login{
	margin-top:200px;
}
.btn1{
	margin-top:20px;
	margin-left:170px;
	width:80px;
	height:50px
}
.lable{
	margin-top:5px;
	margin-left:60px;
	font-size:15px;
	font-weight:600;
}
.form1{
	margin-left:60px;
	height:45px;
	width:300px;
}